useDynLib(QTL.gCIMapping, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import("MASS","qtl")
importFrom("stats","optim","pchisq","var","na.omit","predict")
importFrom("utils","read.csv","write.table","RShowDoc")
importFrom("methods","new")
importFrom("stringr","str_extract_all")
importFrom("openxlsx","read.xlsx")
importFrom("readxl","read_excel")
importFrom("lars","lars")
importFrom("graphics","plot","abline","axis", "mtext", "par")
importFrom("grDevices","dev.off","jpeg","png","tiff","pdf")
importFrom("stats", "median", "qchisq", "uniroot","cor.test","AIC", "lm", "p.adjust","cor")
importFrom("data.table", "fread")
importFrom("doParallel","registerDoParallel")
importFrom("parallel","detectCores","makeCluster","stopCluster")
importFrom("foreach","%dopar%","%do%","foreach")
importFrom("glmnet", "glmnet")
importFrom("graphics", "lines")
importFrom("stats", "BIC", "pgamma")
export("QTL.gCIMapping")
export("WangF")
export("WangS")
export("WenF")
export("WenS")
export("ZhouF")
export("ZhouMethod_single_env")
export("ZhouMethod")
export("Readdata")
export("Dodata")
