import("shiny","MASS","qtl","doParallel","foreach")
importFrom("stats","optim","pchisq","var","na.omit")
importFrom("utils","read.csv","write.table","RShowDoc")
importFrom("methods","new")
importFrom("stringr","str_extract_all")
importFrom("openxlsx","read.xlsx","createWorkbook","addWorksheet","writeData","saveWorkbook")
importFrom("graphics","plot","abline")
importFrom("grDevices","dev.off","jpeg","png","tiff","pdf")
importFrom("graphics","axis", "mtext", "par")
importFrom("stats", "median", "qchisq", "uniroot")
importFrom("stats","cor.test")
importFrom("stats", "AIC", "lm", "p.adjust")
importFrom("stats", "cor")
importFrom("data.table", "fread")
importFrom("parcor", "adalasso")
importFrom("parallel", "detectCores","makeCluster","stopCluster")
export("QTL.gCIMapping")
export("WangF")
export("WenF")